.body {
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    display: flex;
    background-color: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.header {
    align-items: center;
}

.header > .right {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header > .logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
}

.links {
    display: flex;
    
}

.hero {
    display: flex;
}

button {
    background-color: #3882F6;
    padding-left: 20px;
    padding-right: 20px;
}

.right > .title {
    color: #F9FAF8;
    font-size: 48px;
}

.right > .text {
    color: #E5E7EB;
    font-size: 18px;
}

.placeholder {
    height: 200px;
    width: 400px;
    background-color: gray;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.images {
    display: flex;
}

.square {
    height: 150px;
    width: 150px;
    border: rgb(0, 125, 241) solid ;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px;
}

.quote > .text {
    font-size: 36px;
    font-style: italic;
    display: flex;
    
}

.bottom {
    display: flex;
    padding: 50px;
}

.bottom > .container {
    display: flex;
    background-color: #3882F6;
    height: 120px;
    padding: 30px;
    align-items: center;
}

.bottom > .title {
    display: flex;
    flex-direction: column; 
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 30px;
}